@page
@model EsseEhBom.Pages.Movies.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Criar</h1>

<h4>Filme</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Movie.Title" class="control-label"></label>
                <input asp-for="Movie.Title" class="form-control" />
                <span asp-validation-for="Movie.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Director" class="control-label"></label>
                <input asp-for="Movie.Director" class="form-control" />
                <span asp-validation-for="Movie.Director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Country" class="control-label"></label>
                <input asp-for="Movie.Country" class="form-control" />
                <span asp-validation-for="Movie.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Movie.Release" class="control-label"></label>
                <input asp-for="Movie.Release" class="form-control" />
                <span asp-validation-for="Movie.Release" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-page="Index">Voltar para lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
