@page
@model IndexModel
@{
    ViewData["Title"] = "Página inicial";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">ESSE EH BOM</h1>
        <p class="lead text-muted">
            Seja bem-vindo! Aqui se encontra um inovador e desenvolvido site de indicações de filmes, séries e livros.
            Você poderá realizar suas próprias avaliações e compartilha-las com todos os outros usuários. Acreditamos que a melhor crítica é elaborada por você. E ai? Qual você avaliará hoje?
        </p>
        <p>
            <a class="btn btn-primary my-2" asp-area="" asp-page="/Account/Register">Registrar</a>
            <a class="btn btn-secondary my-2" asp-area="" asp-page="/Account/Login">Login</a>
        </p>
    </div>
</section>
